<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # HTTPS redirection
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,QSA]

    # SEO url
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?\/$1 [L]

    # error redirecting
    # RewriteRule ^([a-z]+)/error_([0-9]+)$ index.php?$1/$2 [L,E=LANG:$1]

    # ErrorDocument 400 /index.php/%{ENV:LANG}/error_400
    # ErrorDocument 401 /index.php/%{ENV:LANG}/error_401
    # ErrorDocument 402 /index.php/%{ENV:LANG}/error_402
    # ErrorDocument 403 /index.php/%{ENV:LANG}/error_403
    # ErrorDocument 404 /index.php/%{ENV:LANG}/error_404
    # ErrorDocument 405 /index.php/%{ENV:LANG}/error_405
    # ErrorDocument 500 /index.php/%{ENV:LANG}/error_500    
    
    # ErrorDocument default /error_500

    # site caching

    # allow access only to specific file types
    <FilesMatch "\.(css|scss|sass|js|map|ttf|woff|woff2|eot|svg|png|jpg|jpeg|html)$">
        Require all granted
    </FilesMatch>

    # do not allow php files to be accessed
    # <FilesMatch "\.php$">
    #     Require all denied
    # </FilesMatch>
    
    # except main index.php
    <Files "index.php">
        Require all granted
    </Files>
</IfModule>
