@charset "UTF-8";

/* fonts */
/* fonts end */

/* tags */

legend {
    all: initial;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
}

/* code {
    display: block;
    max-width: 100%;
    max-height: 100vh;
    overflow: auto;
    color: green;
    background-color: black;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
} */

/* tags end */

/* id start */
/* id end */

/* classes */

.preloader {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.preloader img {
    max-width: 300px;
}

.delete-form {
    display: inline-block;
}

/* classes end */



/* responsive */
